body{
    background-image: url(/home/marko/web-project/Survey-Form/images/background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    background-color: hsla(251, 100%, 71%, 0.66);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 600px;
    margin-top: 80px;
    border-radius: 2%;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    font-weight: 800;
}

.formall{
    width: 100%;
    padding: 1em ;
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column-reverse; 
}

section{
    width: 100%;
}

select{
    width: 93%;
}

#radio-div{
    display: flex;
    flex-direction: column;  
}

.formall input{
    width: 90%;
}

.buttons{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}

#check-div{
    display: flex;
    flex-direction: column;  
}

#comment{
    width: 93%;
    resize: vertical;
    height: 90px;
}

#butn{
    padding-left: 15px;
    margin-bottom: 20px;
    
}

button{
    width: 94%;
}
